@model IEnumerable<Cinematheque.WebSite.Models.ActorView>

@{
    ViewBag.Title = "Index";
}

<h2>Actors</h2>

<label for="search-act">Enter actor's name: </label>
@using (Html.BeginForm("Search", "Actors", FormMethod.Get, new { name = "search-act" }))
{
    <input type="text" title="Find actor" name="q" />
    <input type="submit" value="Search" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Death)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birth)
            </td>
            @if (item.Death.HasValue)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Death.Value)
                </td>
            }
            else
            {
                <td>-</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
